<% layout("/layouts/biolerplate") %>
<div class="row">
     <div class="col col-8 offset-2">
        <h2>Your Cart..</h2>
        <% for(item of Items.carts){%>
             
            
            <div class="card mb-3">
                  <a href="#"><img src="<%=item.image%>" class="card-img-top" alt="..." style="height:15rem;"></a>
                  <div class="card-body">
                    <ul class="mb-0">
                      <li><%=item.title%></li>
                      <li><%=item.description%></li>
                      <li><%=item.specification%></li>
                      <li><b>&#8377;<%=item.price.toLocaleString("en-IN")%></b></li>
                   </ul>
                  </div>
            </div>
            <div class="flex-div cardDiv offset-1">
            <form action="/homepage/signUp/<%=item._id%>/buyNow" method="get">
                <button  class="btn btn-success mb-3 buyNow-btn"  >Buy Now</button>
            </form>
            <form action="/homepage/<%=Items._id%>/carts/<%=item._id%>?_method=delete" method="post">
                <button class="btn btn-danger mb-3 remove-btn">Remove</button>
            </form>
           </div>
          <%}%>
          <div class="col-3 mb-3"><b><i>Total price: &#8377;<%=totalPrice.toLocaleString("en-IN")%></i></b> </div>
     </div>
      
     <div class="col  offset-2">
        <a href="/loginHomepage" class="btn btn-success col-9">Continue Shop</a>
     </div>
</div>