<% layout("/layouts/biolerplate") %>
<body>
    
        <!-- navbar -->
        <div class="nav-container sticky-top">
          <div class="flex-div left-side-div">
            <span class="material-symbols-outlined" style="">shopping_bag</span>
        </div>

         <div class="flex-div middle-side-div">
              
              <form action="/homepage/signUp/searchResult" method="post">
                <div class="flex-div">
                   <input type="text" class="form-control" name="searchType" placeholder="Seach products">
                   <button class="btn btn-danger search-btn">Search</button>
                </div>
              </form>
          </div>
          
          <div class="flex-div right-side-div">
                <form action="/homepage">
                     <button class="btn btn-success login-btn">Logout</button>
                </form>
                <form action="/homepage/signUp/orders">
                      <button class="btn btn-success your-orders-btn">Your Orders<span class="material-symbols-outlined orders-icon" style="margin-top:-1rem;position:relative;top:6px;left:3px;">orders</span></button>
                </form>
                <form action="/homepage/signUp/cart" method="get" >
                    <button class="cart-btn" style="margin-right:1rem;"><span class="material-symbols-outlined cart" style="margin-left:0rem; color:white;">shopping_cart</span></button>
                    <div class="show-cart-num"><%=cart%></div>
                </form>
          </div>

          <div class="dropdown dropdown-loginHomepage" >
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
              <li>
                <form action="/homepage">
                  <button class="">Logout</button>
               </form>
              </li>
              <li>
                <form action="/homepage/signUp/orders">
                  <button class="">Your Orders</button>
               </form>
              </li>
              <li>
                <form action="/homepage/signUp/cart" method="get" >
                    <button class="" style="margin-right:1rem;">Cart</button>
                    
                </form> 
              </li>
            </ul>
          </div>

        </div>

          <!-- slider -->
          <div class="slide-container">
            <img src="https://cdn.thewirecutter.com/wp-content/media/2024/03/androidphones-2048px-0793-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024" alt="" class="slide">
            <img src="https://media.istockphoto.com/id/141944385/photo/laptops.jpg?s=612x612&w=0&k=20&c=qqWhcSA5ZJofpOvyLuyMcZTQU5Ew9Ebadk3u8iPVQVU=" alt="" class="slide">
            <img src="https://helpdeskgeek.com/wp-content/pictures/2021/10/multi-monitor.jpeg" alt="" class="slide">
            <img src="https://www.pcworld.com/wp-content/uploads/2023/10/cpu-hub-100758206-orig.jpg?quality=50&strip=all" alt="" class="slide">
            <img src="https://i.pcmag.com/imagery/reviews/07lrPVKK2Bexf9Xi0sKRlSa-1..v1678155979.jpg" alt="" class="slide">
            <img src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2018/08/best-mouse-keyboard-combos.jpg" alt="" class="slide">
            <img src="https://hips.hearstapps.com/hmg-prod/images/best-over-ear-headphones-1527009080.jpg" alt="" class="slide">
      
            <span class="material-symbols-outlined prev">arrow_back_ios</span>
            <span class="material-symbols-outlined next">arrow_forward_ios</span>
        </div>

        <!-- all products -->
        <h2 style="margin-left:2rem;">Search Results...</h2>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
           <% for(item of searchItem){%>
         
          <div class="card mb-3">
                <a href="/homepage/<%=item.productId%>/loginShowInfo"><img src="<%=item.image%>" class="card-img-top" alt="..." style="height:15rem;"></a>
                <div class="card-body">
                  <h5 class="card-title"><%=item.title%></h5>
                  <h6 class="cad-title">&#8377;<%=item.price.toLocaleString("en-IN")%></h6>
                  <form action="/homepage/signUp/<%=item.productId%>/cart" method="post">
                    <button class="btn  add-cart-btn" style="background-color: rgb(172, 36, 221); color:white;">Add to Cart</button>
                    
                 </form>
                </div>
          </div>
        
        <%}%>
      </div>
      <a href="/loginHomepage" class="btn btn-success col-6 offset-3 mb-3">Continue Shopping</a>
</body>